:root{

    /* .white{
    --t-side-color:#282828;
    --t-main-card-color:#585858;
    --side-bgc:#f0f4f9;
    --bgc:white;
    } */


        /* --t-side-color:#ebe7e7;
        --t-main-card-color:#d1c9c9;
        --side-bgc:#232425;
        --bgc:rgb(14, 13, 13);
        --hover-color:black;
        --t-color:white; */


}